body {
    padding: 2rem;
    color: #333;
}

/* Form Heading */
h1 {
    text-align: center;
    color: #2c3e50;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
}


form div {
    margin-bottom: 1.2%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}


input[type="checkbox"] {
    margin-left: 0.5rem;
}


button#submitButton {
    background-color: #2ecc71;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    
}

button#submitButton:hover {
    background-color: #722405;
}


div > h3 {
    text-align: center;
    color: #2c3e50;
    margin-top: 2rem;
    padding-bottom: 1%;
}

#guestsList {
    max-width: 40%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    list-style-type: decimal;
}

#guestsList li {
    padding: 0.8rem;
    margin-bottom: 0.6rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    transition: transform 0.2s ease;
}

#guestsList li:hover {
    transform: scale(1.01);
}

#guestsList button {
    background-color: #e74c3c;
    border: none;
    padding: 0.4rem 0.8rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

#guestsList button:hover {
    background-color: #f7f4f4;
}

.friend {
    border-left: 5px solid #3498db;
}

.family {
    border-left: 5px solid #9b59b6;
}

.colleague {
    border-left: 5px solid #f39c12;
}
